.checkout-container {
h1 {
  font-family: 'Sporting Grotesque';
  font-size: 40px;
  color: black;
  text-align: left;
  margin-top: 24px;
} p {
  font-family: 'Happy Times';
  font-size: 24px;
  color: gray;
} h3 {
  font-family: 'Happy Times';
  font-size: 24px;
  color: gray;
}
}

#checkout-font {
  h1 {
  font-family: 'Sporting Grotesque';
  font-size: 24px;
  color: black;
  }
  label {
  font-family: 'Sporting Grotesque';
  font-size: 14px;
  color: black;
  }
}

.delivery-container {
  display: grid;
  justify-content:center;
}

#pay-container {
  p {
    font-size: 20px;
  }
}

.badge-payment {
  color: white;
  background-color: green;
  width: 100px;
  height: 40px;
  padding: 10px;
}

#delivery-form {
  text-align: left;
}

#checkout-label {
  h1 {
  font-family: 'Sporting Grotesque';
  font-size: 24px;
  color: black;
  }
  label {
  font-family: 'Sporting Grotesque';
  font-size: 14px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40px;
  }
}
