// Specific CSS for your home-page
.home-banner {
  background-image: url("jbflower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  max-width: 100%;
  display: block;
  h1 {
    font-size: 60px;
    font-family: "Sporting Grotesque";
    color: black;
  }
  p {
   font-size: 30px;
    font-family: "Happy Times";
  }
}

#banner-typed-text {
  color: black;
}

.container-home {
  max-width: 100%;
  background-color: black;
}

#newsletter-section {
  background-color: black;
  p {
    color: white;
    font-family: "Happy Times";
    font-style: italic;
  }
  h1 {
    font-size: 60px;
    color: #ff69b4;
    font-family: "Sporting Grotesque";
  }
}

.container-newsletter {
  margin: 100px;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  p {
    margin-top: 200px;
    color: white;
    font-family: "Happy Times";
    font-style: italic;
  }
  h2 {
    margin-top: 200px;
    color: white;
    font-family: "Sporting Grotesque";
  }
}

.one {
  border: 80px;
  background-image: url("jbmodel2.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 40vh;
  max-width: 100%;
  h2 {
    display: flex;
    text-align: left;
  }
  p {
    display: flex;
  }
}

.two {
  background-image: url("jbmodel3.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 40vh;
  max-width: 100%;
}

.three {
  background-image: url("jbcouple.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 40vh;
  max-width: 100%;
}

.four {
  background-image: url("jbmodel1.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 40vh;
  max-width: 100%;
}

.outer-wrapper {
  width: 100vh;
  height: 100 vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
