// Specific CSS for your home-page
.home-banner {
  background-image: url("jbmodel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  max-width: 100%;
  display: block;
  h1 {
    font-size: 80px;
    font-family: "Sporting Grotesque";
  }
  p {
   font-size: 40px;
    font-family: "Helvetica";
  }
}

#banner-typed-text {
  color: black;
}

.container-home {
  background-color: black;
  p {
    color: white;
    font-family: "Happy Times";
    font-style: italic;
  }
  h2 {
    color: white;
    font-family: "Sporting Grotesque";
  }
}

.new-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid white;
  margin: 1em 0;
  padding: 0;
}
