// Specific CSS for your home-page
.home-banner {
  background-image: url("jbmodel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  max-width: 100%;
  display: block;
  h1 {
    font-size: 100px;
    font-family: "Sporting Grotesque";
  }
  p {
   font-size: 40px;
    font-family: "Helvetica";
  }
}

#banner-typed-text {
  color: black;
}
