.imprint {
  h1 {
      font-size: 50px;
      color: white;
      font-family: "Sporting Grotesque";
    }
    p {
      font-size: 14px;
      color: white;
      font-family: "Happy Times";
    }
}

#last-section {
  margin-bottom: 200px;
}
