.imprint {
  background-color: black;
  h1 {
      font-size: 50px;
      color: white;
      font-family: "Sporting Grotesque";
      text-align: center;
    }
    p {
      font-size: 14px;
      color: white;
      font-family: "Happy Times";
    }
  h2, h3 {
    font-family: 'Happy Times';
  }
}

#last-section {
  margin-bottom: 200px;
}
