.title {
  margin-top: 65px;
  text-align: left;
  width: 400px;
}

.h4 {
  text-align: left;
}

.p {
  text-align: left;
}
.form-inputs {
  position: relative;
  width: 400px;
  color: black;
}

.input, .btn {
  color: white !important;
}

.button-width {
  min-width: 400px;
  margin-top: 10px;
}

.button-black {
  background: #292929;
  border-radius: 5px;
  padding: 9px 1px;
  margin-top: 15px;
}

.buttons-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password {
    margin-bottom: 200px;
    margin-top: 15px;
    color: #046e7d;
    visibility: visible;
    font-size: 14px;
}

.form-check-label {
    color: black;
    margin-top: -20px;
    text-weight: 400;
}

.form-check {
  margin-top: 20px;
  color: black;
}

.input {
  visibility: hidden;
}

.form-control {
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: relative;
}

.h10 {
  color: #EAEAEA;
}
