.login-container {
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2, h3, p {
    color: black;
    font-family: 'Sporting Grotesque';
  }
  color: black;
  label {
    font-family: 'Sporting Grotesque';
  }
  input {
    font-family: 'Sporting Grotesque';
  }
  #user_email {
  font-size: 14px;
}
  #user_email {
  font-size: 14px;
}

}

.input, .btn {
  color: white !important;
}

.input {
  text-align: left;
}

.button-width {
  min-width: 300px;
  margin-top: 10px;
}

.button-black {
  background: #292929;
  border-radius: 5px;
  padding: 9px 1px;
  margin-top: 15px;
  min-width: 300px;
}

.buttons-center {
  display: flex;
  flex-direction: column;
}

.forgot-password {
    margin-bottom: 200px;
    margin-top: 10px;
    color: #046e7d;
    visibility: visible;
    font-size: 16px;
    font-family: 'Sporting Grotesque';
}

.form-check-label {
    color: black;
    margin-top: -20px;
    text-weight: 400;
}

.form-check {
  margin-top: 20px;
  color: black;
}

.input {
  visibility: hidden;
}

.button_signup {
  border-radius: 5px;
  padding: 9px 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  min-width: 300px;
  font-family: 'Sporting Grotesque';
}
