.subscriber-banner {
  background-image: url("jbmodel3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  max-width: 100%;
  display: block;
}

#content {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  p {
    font-size: 50px;
    color: #ff69b4;
    font-family: "Happy Times";
    text-align: center;
  }
}

