<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/jungbusch_berlin/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/jungbuschberlin/"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> in Berlin
  </div>
</div>
