<h1>Sign up to get notified here!</h1>
  <%= simple_form_for Subscriber.new do |f| %>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.input :email, placeholder: "Email" %>
    <%= f.submit %>
 <% end %>
