<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="product-container">
  <h1>Thanks for supporting us!</h1>
  <p>Your product is on its way.</p>
  <p>TODO: Include social media and share with others</p>
</div>
