<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to products_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
</div>

<div class="delivery-container" id="delivery-font">
  <h1>Thanks for supporting us!</h1>
  <p>You will receive an email soon from us with your purchase.</p>
  <p>Follow us on social media:</p>
</div>
<div class="social">
  <div class="social-links">
    <a href="https://www.instagram.com/jungbusch_berlin/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/jungbuschberlin/"><i class="fab fa-facebook"></i></a>
  </div>
</div>
