<div class="container-black">

  <div class="navbar navbar-expand-sm navbar-light navbar-jb">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-black.jpg" %>
      <% end %>
  </div>

  <div class="imprint">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-8">



          <h1>AGB</h1>

          <h2>Allgemeine Geschäftsbedingungen für Jungbusch Berlin.</h2>

          <h3>01. Allgemeines</h3>
          <h3>01.1</h3>
          <p>Die folgenden Allgemeinen Geschäftsbedingungen gelten für alle Geschäftsbeziehungen zwischen Jungbusch Berlin und dem Besteller. Besteller im Sinne der Geschäftsbedingungen sind Verbraucher und Unternehmer.</p>
          </br>
          <h3>01.2</h3>
          <p>Der Besteller erkennt mit der Bestellung die Geltung dieser AGB´s unwiderruflich an. Dabei gilt stehts die zum Zeitpunkt der Bestellung gültige Fassung, Welche dem Besteller während seiner Bestellung bereitgestellt wird. Etwaige entgegenstehende oder abweichende AGB des Bestellers sind ausgeschlossen. Sie werden auch dann nicht Vertragsbestandteil, wenn Jungbusch Berlin ihnen nicht ausdrücklich widerspricht oder der Besteller darauf Bezug nimmt.</p>
          </br>
          <h3>01.3</h3>
          <p>Inhalt der AGB sind auch Informationen, zu deren Übermittlung Jungbusch Berlin nach den Regelungen über Fernabsatzverträge und über den elektronischen Geschäftsverkehr verpflichtet ist (§ 312 d Abs. 1 BGB in Verbindung mit Artikel 246a § 1 Abs. 1 EGBGB (Einführungsgesetz zum Bürgerlichen Gesetzbuch), § 312 g Abs. 1 BGB in Verbindung mit Artikel 246a § 1 Abs. 2 EGBGB).</p>
          </br>

          <h3>02. Vertragsschluss </h3>
          <h3>02.1 </h3>
          <p>Vertragspartner sind Jungbusch Berlin Mertol Akinci, Weserstr. 16 in 12047 Berlin und der jeweilige Besteller. </p>
          </br>
          <h3>02.2</h3>
          <p>Die Warenangebote von Jungbusch Berlin im Internet stellen kein verbindliches Angebot zum Abschluss eines Kaufvertrages dar, sondern eine Aufforderung zur Abgabe einer Bestellung (Kaufangebot des Käufers). </p>
          </br>
          <h3>02.3</h3>
          <p>Der Besteller kann das Kaufangebot telefonisch, schriftlich, per email oder über das im Online-Shop des Verkäufers integrierte Bestellsystem abgeben.</p>
          </br>
          <h3>02.4</h3>
          <p>Die zum Kauf beabsichtigten Waren sind im „Warenkorb" abgelegt. Über die entsprechende Schaltfläche in der Navigationsleiste kann der Kunde den „Warenkorb" aufrufen und dort jederzeit Änderungen vornehmen. Nach Aufrufen des Bestellformulars erfolgt die Eingabe der persönlichen Daten sowie der Zahlungs- und Versandbedingungen. Vor Absenden der Bestellung hat der Kunde die Möglichkeit, sämtliche Angaben nochmals zu überprüfen, zu ändern (auch über die Funktion „zurück" des Internetbrowsers) bzw. den Kauf abzubrechen. Mit dem Absenden der Bestellung über die entsprechende Schaltfläche gibt der Kunde ein verbindliches Angebot bei Jungbusch Berlin ab. Der Kunde erhält zunächst eine automatische email über den Eingang seiner Bestellung, die noch nicht zum Vertragsschluss führt.</p>
          </br>
          <h3>02.5</h3>
          <p>Die Annahme Ihres Angebots (und damit der Vertragsabschluss) erfolgt in jedem Fall durch Bestätigung in Textform, in welcher Ihnen die Bearbeitung der Bestellung oder Auslieferung der Ware bestätigt wird oder durch Zusendung der Ware.</p>
          </br>

          <h3>03. Zahlung </h3>
          <h3>03.1 </h3>
          <p>Alle angegebenen Preise sind Endpreise. Aufgrund des Kleinunternehmerstatus gemäß § 19 UStG erheben wir keine Umsatzsteuer und weisen diese daher auch nicht aus.</p>
          </br>
          <h3>03.2</h3>
          <p>Die Zahlung ist nur Stripe möglich.</p>
          </br>
          <h3>03.3</h3>
          <p>Der Unternehmer hat nur dann ein Recht zur Aufrechnung, wenn seine Gegenansprüche rechtskräftig festgestellt oder durch Jungbusch Berlin anerkannt wurden. Der Unternehmer kann ein Zurückbehaltungsrecht nur ausüben, wenn sein Gegenanspruch auf demselben Vertragsverhältnis beruht.</p>
          </br>

          <h3>04. Lieferung, Versand und Versandkosten </h3>
          <h3>04.1 </h3>
          <p>Sämtliche Angaben zu Verfügbarkeit, Versand oder Zustellung eines Produktes sind lediglich voraussichtliche Angaben und ungefähre Richtwerte. Sie stellen keine verbindlichen bzw. garantierten Versand- oder Liefertermine dar, außer wenn dies bei den Versandoptionen des jeweiligen Produktes ausdrücklich als verbindlicher Termin bezeichnet ist. Sofern Jungbusch Berlin während der Bearbeitung Ihrer Bestellung feststellt, dass von Ihnen bestellte Produkte nicht verfügbar sind, werden Sie zeitnah darüber gesondert per email informiert.</p>
          </br>
          <h3>04.2</h3>
          <p>Falls Jungbusch Berlin ohne eigenes Verschulden zur Lieferung der bestellten Ware nicht in der Lage ist, weil der Lieferant von Jungbusch Berlin seine vertraglichen Verpflichtungen nicht erfüllt, ist Jungbusch Berlin dem Besteller gegenüber zum Rücktritt berechtigt. In diesem Fall wird der Besteller unverzüglich darüber informiert, dass das bestellte Produkt nicht zur Verfügung steht; bereits erbrachte Gegenleistungen werden umgehend zurück erstattet. Die gesetzlichen Ansprüche des Bestellers bleiben im übrigen unberührt.</p>
          </br>
          <h3>04.3</h3>
          <p>Nach Eingang des Geldes auf dem Konto von Jungbusch Berlin wird die Bestellung unverzüglich versendet (gilt nicht für die Versendung per Nachnahme).</p>
          </br>
          <h3>04.4</h3>
          <p>Die Versandkosten können eingesehen werden.</p>
          </br>

          <h3>05. Eigentumsvorbehalt</h3>
          <h3>05.1 </h3>
          <p>Bei Verbrauchern behält sich Jungbusch Berlin das Eigentum an der Ware bis zur vollständigen Zahlung des Kaufpreises vor. Bei Unternehmern behält sich Jungbusch Berlin das Eigentum an der Ware bis zur vollständigen Begleichung aller Forderungen aus der laufenden Geschäftsbeziehung mit Jungbusch Berlin vor.</p>
          </br>
          <h3>05.2</h3>
          <p>Der Unternehmer ist verpflichtet, Jungbusch Berlin einen Zugriff Dritter auf die Ware, etwa im Falle einer Pfändung, sowie etwaige Beschädigungen oder die Vernichtung der Ware unverzüglich mitzuteilen. Einen Besitzwechsel der Ware sowie den eigenen Unternehmenssitzwechsel hat der Unternehmer Jungbusch Berlin unverzüglich anzuzeigen.</p>
          </br>

          <h3>06. Gefahrübergang</h3>
          <h3>06.1 </h3>
          <p>Bei Verbrauchern geht die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der verkauften Ware mit der Übergabe der Ware auf den Verbraucher über.</p>
          </br>
          <h3>06.2</h3>
          <p>Bei Unternehmern geht die Gefahr des zufälligen Untergangs und der zufälligen Verschlechterung der Ware mit der Übergabe, beim Versendungskauf mit der Auslieferung der Ware an den Spediteur, den Frachtführer oder der sonst zur Ausführung der Versendung bestimmten Person oder Anstalt auf den Unternehmer über.</p>
          </br>
          <h3>06.3</h3>
          <p>Der Übergabe steht es gleich, wenn der Besteller im Verzug der Annahme ist.</p>
          </br>

          <h3>07. Widerruf</h3>
          <h3>07.1 Widerrufsrecht für Verbraucher</h3>
          <p>Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder Ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden können.</p>
          </br>

          <h3>07.2 Widerrufsbelehrung </h3>
          <h3>07.2.1 Widerrufsrecht</h3>
          <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen den Kaufvertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns: Jungbusch Berlin. Mertol Akinci, Weserstr. 16, 12047 Berlin. Tel.: +49 151 4524841, email: contact@jungbusch030.com, mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder email) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür unser Kontaktformular verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>
          </br>
          <h3>07.2.2 Folgen des Widerrufs</h3>
          <p>Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstige Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; In keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist. Sie haben die Ware unverzüglich und in jedem Fall spätestens binnen vierzehnTagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns: Jungbusch Berlin Mertol Akinci, Weserstr. 16, 12047 Berlin zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Ware vor Ablauf der Frist von vierzehn Tagen absenden. Sie tragen die unmittelbaren Kosten der Rücksendung der Waren. </p>
          </br>
          <h3>07.2.3 Ende der Widerrufsbelehrung</h3>
          </br>

          <h3>08. Gewährleistung</h3>
          <h3>08.1 </h3>
          <p>Bei sämtlichen Waren von Jungbusch Berlin bestehen die gesetzlichen Gewährleistungsrechte. Verbraucher haben bei Vorliegen eines Mangels die Wahl, ob die Nacherfüllung durch Nachbesserung oder Ersatzlieferung erfolgen soll. Die Firma Jungbusch Berlin ist berechtigt, die Art der gewählten Nacherfüllung zu verweigern, wenn sie nur mit unverhältnismäßigen Kosten möglich ist und die andere Art der Nacherfüllung ohne erhebliche Nachteile für den Verbraucher bleibt. Bei der Gewährleistung gegenüber Unternehmern hat die Firma Jungbusch Berlin ein Wahlrecht zwischen Nachbesserung oder Ersatzlieferung</p>
          </br>
          <h3>08.2</h3>
          <p>Schlägt die Nacherfüllung fehl, kann der Besteller grundsätzlich nach seiner Wahl Herabsetzung der Vergütung (Minderung), Rückgängigmachung des Vertrags (Rücktritt) oder Schadensersatz statt der Leistung verlangen. Wählt der Besteller Schadensersatz statt der Leistung, so gelten die Haftungsbeschränkungen gemäß Ziff. 9 unten. Bei nur unerheblichen Mängeln steht dem Besteller jedoch kein Rücktrittsrecht zu.</p>
          </br>
          <h3>08.3</h3>
          <p>Ist der Kauf ein Handelsgeschäft, hat der Besteller die gelieferte Ware unverzüglich auf Mängel, insbesondere auf Qualitäts- und Mengenabweichung zu untersuchen und Jungbusch Berlin erkennbare Mängel innerhalb einer Frist von einer Woche ab Empfang der Ware / Leistung schriftlich anzuzeigen; andernfalls ist die Geltendmachung des Gewährleistungsanspruchs ausgeschlossen. Ist der Kauf ein Handelsgeschäft, verjähren die Ansprüche des Bestellers wegen Mängeln in einem Jahr. Diese Verjährungsfrist gilt nicht für Schadensersatzansprüche sowie für Geschäfte mit Nicht-Kaufleuten.</p>
          </br>

          <h3>09. Haftung von Jungbusch Berlin</h3>
          <h3>09.1 </h3>
          <p>Jungbusch Berlin haftet ausschließlich für Schäden, die durch vorsätzliches oder grob fahrlässiges Verhalten von Jungbusch Berlin, ihrer Arbeitnehmer, gesetzlichen Vertreter und Erfüllungsgehilfen verursacht werden oder auf einer Verletzung von vertragswesentlichen Hauptpflichten (Kardinalpflichten) beruhen. Eine solche vertragswesentliche Pflicht liegt immer dann vor, wenn deren Erreichung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der Besteller regelmäßig vertrauen darf. Sofern Jungbusch Berlin, ihre Arbeitnehmer, die gesetzlichen Vertreter und Erfüllungsgehilfen fahrlässig eine vertragswesentliche Pflicht verletzen, ist die Haftung auf denjenigen Schadensumfang begrenzt, mit dessen Entstehen bei Vertragsschluss auf Grund der zu diesem Zeitpunkt bekannten Umstände typischerweise gerechnet werden musste.</p>
          </br>
          <h3>09.2</h3>
          <p>Die vorstehende Haftungsbeschränkung gilt für vertragliche wie auch außervertragliche Ansprüche. Die Haftung für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit wird nicht ausgeschlossen oder beschränkt. Ebenso bleibt eine etwaige Haftung für Ansprüche aus einer von Jungbusch Berlin gegebenen Garantie für die Beschaffenheit der Beschreibung und für Ansprüche nach dem Produkthaftungsgesetz unberührt.</p>
          </br>

          <h3>10. Anwendbares Recht, Gerichtsstand</h3>
          <h3>10.1 </h3>
          <p>Es gilt deutsches Recht unter Ausschluss UN-Kaufrechts. Bei Verbrauchern gilt diese Rechtswahl nur, soweit hierdurch der durch zwingende Bestimmungen des Rechts des Staates des gewöhnlichen Aufenthaltes des Verbrauchers gewährte Schutz nicht entzogen wird (Günstigkeitsprinzip).</p>
          </br>
          <h3>10.2</h3>
          <p>Erfüllungsort für alle Leistungen aus den mit dem Verkäufer bestehenden Geschäftsbeziehungen sowie Gerichtsstand ist Sitz des Verkäufers, soweit Sie nicht Verbraucher, sondern Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen ist. Dasselbe gilt, wenn der Kunde keinen allgemeinen Gerichtsstand in Deutschland oder der EU hat oder der Wohnsitz oder gewöhnliche Aufenthalt im Zeitpunkt der Klageerhebung nicht bekannt ist. Die Befugnis, auch das Gericht an einem anderen gesetzlichen Gerichtsstand anzurufen, bleibt hiervon unberührt.</p>
          <p>Widerrufsrecht. Du hast immer das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem dir oder ein von dir benannte Dritte, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat. Um Ihr Widerrufsrecht auszuüben, musst du uns Jungbusch Berlin, Mertol Akinci, Weserstr. 16, 12047 Berlin. Tel: +49 (0) 1514524841, email: contact@jungbusch030.com, mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder E-Mail) über deinen Entschluss, diesen Vertrag zu widerrufen, informieren. Du kannst dafür unser Kontaktformular verwenden, das jedoch nicht vorgeschrieben ist. Zur Wahrung der Widerrufsfrist reicht es aus, dass du die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absendest. Folgen des Widerrufs Wenn du diesen Vertrag widerrufst, haben wir dir alle Zahlungen, die wir von dir erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass du eine andere Art der Lieferung als die von uns angebotene, günstige Standardlieferung gewählt hast), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über deinen Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das du bei der ursprünglichen Transaktion eingesetzt habst, es sei denn, mit dir wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden dir wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Ware wieder zurückerhalten haben oder bis du den Nachweis erbracht haben, dass du die Ware zurückgesandt habst, je nach- dem, welches der frühere Zeitpunkt ist. Du hast die Ware unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem du uns über den Widerruf dieses Vertrags unterrichtest, an uns Jungbusch Berlin, Weserstr. 16, 12047 Berlin zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn du die Ware vor Ablauf der Frist von vierzehn Tagen absendest. Du trägst die unmittelbaren Kosten der Rücksendung der Ware.</p>
          </br>

          <h1>Ende der Widerrufsbelehrung</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
