<%= render 'shared/navbar' %>

<div class="home-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <h1>Jungbusch 030</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
