<%= render 'shared/navbar' %>

<div class="home-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <h1>HELP US KEEP THE PINK LIGHT ON!</h1>
        <p>
        <span id="banner-typed-text"></span>
        </p>
        <%= link_to "Shop now", products_path, class: 'btn btn-flat' %>
      </div>
    </div>
  </div>
</div>

<%= render template: "orders/new" %>
