<div class="navbar navbar-expand-sm navbar-light navbar-jb">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-black.jpg" %>
    <% end %>
</div>

<div class="imprint">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-8">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Jungbusch Berlin  Mertol Akinci (Einzelunternehmer)</p>
        <p>Weserstr. 16 , 12047 Berlin</p>
        </br>
        <h1>Kontakt</h1>
        <p>Fon: +49 (0) 151 45 24 84 10</p>
        <p>E-Mail: mertol@icloud.com</p>
        <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen. Quelle: e-recht24.de</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
