.btn-flat {
  color: white;
  padding: 16px 60px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  font-family: 'Sporting Grotesque';
  margin-top: 14px;
  font-size: 20px;
}

.btn-flat:hover {
  background: #ff69b4;
  color: white;
}

.btn-newsletter {
  color: white;
  padding: 16px 40px;
  border-radius: 4px;
  background: #ff69b4;
  transition: background 0.3s ease;
  font-family: 'Sporting Grotesque';
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-newsletter:hover {
  background: #660033;
  color: white;
}


.btn-publish {
  color: white;
  padding: 16px 40px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  font-family: 'Sporting Grotesque';
  margin-bottom: 20px;
  margin-top: 20px;
}
