.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  h1 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: black;
  font-family: 'Sporting Grotesque'
  }
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  font-family: 'Sporting Grotesque'
  }
  h3 {
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  color: gray;
  font-family: 'Sporting Grotesque'
  }
  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  color: black;
  font-family: 'Sporting Grotesque'
  }
  img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
