.navbar-jb {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  transition: 0.5s background-color ease;
  font-size: 40px;
  // box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.navbar-jb-white {
  background-color: transparent;
  // background-image: url('logo.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  border-style: none;
  #navbar-font {
    color: transparent;
    transition: 0.5s color ease;
  }
  #soon-font {
  font-size: 10px;
  padding: 10px;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  transform: rotate(-20deg);
  color: transparent;
  transition: 0.5s color ease;
}
 .badge-light {
  background-color: transparent;
  transition: 0.5s color ease;
 }
}

.navbar-jb .navbar-collapse {
  width:100%;
}

.navbar-jb .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-content {
  font-size: 40px;
  margin: 20px;
  width: 100%;
  font-family: "Sporting Grotesque";
}

#navbar-font {
  color: white;
  font-family: "Sporting Grotesque";
}

#soon-font {
  font-size: 10px;
  padding: 10px;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  transform: rotate(-20deg);
}
// .navbar-item .notification {
//   color: white;
//   text-decoration: none;
//   padding: 15px 26px;
//   position: relative;
//   display: inline-block;
//   border-radius: 2px;
// }

// .navbar-item .badge {
//   position: absolute;
//   top: -10px;
//   right: -10px;
//   padding: 5px 10px;
//   border-radius: 50%;
//   background-color: white;
//   color: black;
//   font-size: 10px;
// }
