.navbar-jb {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  transition: 0.5s background-color ease;
  font-size: 40px;
  // box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.navbar-jb-white {
  background-color: white;
  // background-image: url('logo.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  border-style: none;
  #navbar-font {
    color: black;
  }
}

.navbar-jb .navbar-collapse {
  width:100%;
}

.navbar-jb .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-content {
  font-size: 40px;
  margin: 20px;
  width: 100%;
  font-family: "Sporting Grotesque";
}

#navbar-font {
  color: white;
  font-family: "Sporting Grotesque";
}
