.navbar-jb {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  transition: 0.5s background-color ease;
  font-size: 40px;
}

.navbar-jb-white {
  background-color: white;
  #navbar-font {
    color: black;
  }
}

.navbar-jb .navbar-collapse {
  width:100%;
}

.navbar-jb .navbar-brand img {
  width: 100px;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-content {
  font-size: 40px;
  margin: 20px;
  width: 100%;
}

#navbar-font {
  color:white;
}
