<h1><%= @product.name %></h1>

<h5>Photos</h5>
<ul>
  <% @product.pictures.each do |picture| %>
    <!-- `picture` here is an instance of the Picture model -->
    <li><%= cl_image_tag(picture.image, width: 400, height: 300, crop: :fill) %></li>
  <% end %>
</ul>
